---
import BaseLayout from '../layouts/baselayout.astro';
import ToggleText from '../components/component.astro';
---

<BaseLayout>
    <div x-data="{ showMessage: false }" class="w-full max-w-md mx-auto">
    <h2 class="text-5xl font-extrabold mb-6 text-blue-800 text-center">Wow! Two Pages?!</h2>
    <p class="text-lg text-gray-700 mb-8 text-center">
      This page contains a toggle button referenced via component!
    </p>
  </div>
  <ToggleText />
</BaseLayout>