---
import Layout from '../layouts/layout.astro';
import ToggleText from '../components/component.astro';
---

<Layout>
  <h1 class="text-3xl font-bold mb-4">Home Page</h1>
  <ToggleText />
</Layout>
